<?xml version="1.0"?>
<model>
  <name>Acacia Tree</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>PC2 Team</name>
    <email>pc2@fyp.com</email>
  </author>

  <description>
    Acacia tree commonly found in Dodoma region, Tanzania
  </description>
</model>
