<?xml version="1.0"?>
<model>
  <name>Government Building</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>PC2 Team</name>
    <email>pc2@fyp.com</email>
  </author>

  <description>
    Government building typical of Dodoma, Tanzania architecture
  </description>
</model>
